.navbar-sup {
  background-color: #252525;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  justify-content: left;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
